<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}table{% endblock title %}</title>
	{% block style %}
    {% endblock style %}
</head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

{% block javascript %}
<script>
	function Inserincsv(){
		var movie_id=$("#Movies_id").val();
		var movie_name=$("#Movies_name").val();
		var movie_avalibility=$("#Movies_avalibility").val();

		var data=[{ "id":movie_id,
		 "name": movie_name,
		 "availibility": movie_avalibility
		 }]

		var token = '{{csrf_token}}'; 
        $.ajax({
            type: 'POST',
            url: "{% url 'POSTcsv_Insert' %}",
            datatype: "json",
            contentType: "application/json",
            headers: { "X-CSRFToken": token },
            data: JSON.stringify(data),
            success: function (response) {
                // if not valid user, alert the user
                if(!response["data"]){
                } 
                else {
                }
            },
            error: function (response) {
                alert('sever issue')
            }
        })
	}
</script>
{% endblock javascript %}
<body>
	<div>
		<a href="/basic/GETcsv-movies">Back to Movies List</a>
	</div> <br>
    <table>
		<th>id</th>
		<th>Movie</th>
		<th>Availibility</th>
		<tr>
			<td><input id="Movies_id" type="input" size=4></td>
			<td><input id="Movies_name" type="input" size=4></td>
			<td><input id="Movies_avalibility" type="input" size=4></td>
			<td><button id="addmovies" onclick="Inserincsv()">Add Movie</button></td>
		</tr>
	</table>	
</body>
</html>