<!--
step1 : for loop in nija
step2 : in ninja to "List[0]" quivalent to "List.0"

-->

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<a href="/intro/bye">Click me</a>				<!-- to connect URL with anchor tag -->
	<p>{{fname}}</p>
	<p>{{lname}}</p>
	<p>{{address}}</p>
	<p>{{city}}</p>
	<p>{{state}}</p>
	<p>{{country}}</p>
	<p>
		{{skills.0}}		<!-- to get 0 index of Lit-->
		{{skills.1}}
	</p>
	<p>
		{% for skill in skills %}  <!-- to get all List values with for loop -->
			<li>{{skill}}</li>
		{% endfor %}
	</p>
</body>
</html>